@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    @apply m-0 bg-white p-0 text-darkgray;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
    @apply box-content;
}

h1 {
    @apply text-3xl font-bold;
}

h2 {
    @apply text-2xl font-bold;
}

input {
    outline: none;
    background: none;

    &[type="number"] {
        -moz-appearance: textfield;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

table {
    line-height: 1rem;
    @apply w-full;

    th,
    td {
        @apply px-5 border-b border-gray border-opacity-30;
    }

    th {
        @apply py-4 text-left text-gray;
    }

    td {
        @apply py-2.5;

        a {
            @apply text-blue hover:cursor-pointer hover:text-darkblue;
        }

        * {
            @apply float-left mr-1;
        }
    }
}
